
/* :mode=css: */


/*
	:mode=css:
	the absolute minimal CSS reset	 
	http://www.vcarrer.com/2010/05/css-mini-reset.html
	thanks: luminarious
*/

* { 
	vertical-align: baseline; 
	font-weight: inherit; 
	font-family: inherit; 
	font-style: inherit; 
	text-decoration:inherit;
	font-size: 100%;
	padding: 0;
	border: 0; 	 
	margin: 0;	
}

table {
	border-collapse: collapse;	
}

:focus {
	outline: 0;
}

::-moz-focus-inner {
	border: 0;
}


/* :mode=css: */

/* HTML5 elements */
article, aside, details, footer, header, hgroup, menu, nav, section { 
	display:block;
}

/* bolded */
strong, b, th, dt { font-weight: bold; }

/* italic */
em, i, caption {
	font-style:italic;		
}

/* code */
pre, code {
	font-family:"courier new",monospace;	
}

/* margin for block level elements */
p, table, ul, ol {
	margin:0.8em 0;		
}

li {
	margin-left:1.6em;		
}

blockquote {
	margin:1.5em;		
}

/* horizontal rule */
hr {
	border:1px solid #ddd;
	border-width:1px 0 0;
	margin:1em 0;	
}

/* clearfix */
.clear, .clearfix { 
	zoom: 1; 
}

.clear:after, .clearfix:after { 
	content: "\0020"; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden; 
}


/* headings */
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

h1 {
	font-size: 2.2em;
	line-height: 1.1;
	margin-bottom: .238em;
}

h2 {
	font-size: 1.8em;
	line-height: 1.15;
	margin-bottom: .2em;
}

h3 {
	font-size: 1.5em;
	line-height: 1.2;
	margin-bottom: .16em;
}

h4, h5, h6 {
	font-size: 1em;
	margin-bottom: .715em;
}

/*
	Important class names to be used everywhere.
	Thanks: blueprint	css framework
*/

.large      	{ font-size: 130%; }
.small,small	{ font-size: 80%; }
.hide       	{ display: none; }

.quiet      	{ color: #777; }
.loud       	{ color: #000; }
.highlighted  	{ background:#ff0; }

.dark				{ background-color:#222; color:#fff; }
.light			{ background-color:#f9f9f9; }
.dark a 			{ color:#ceff00; }
            	
.first      	{ margin-left:0; padding-left:0; }
.last       	{ margin-right:0; padding-right:0; }
.top        	{ margin-top:0; padding-top:0; }
.bottom     	{ margin-bottom:0; padding-bottom:0; }                                                  


.c, .cm { color: #998; font-style: italic } /* Comments */
.err { color: #a61717; background-color: #e3d2d2 } /* Error */
.k { font-weight: bold } /* Keyword */
.o { font-weight: bold } /* Operator */
.cp { color: #999; font-weight: bold } /* Comment.Preproc */
.c1 { color: #998; font-style: italic } /* Comment.Single */
.cs { color: #999; font-weight: bold; font-style: italic } /* Comment.Special */
.gd { color: #000; background-color: #ffdddd } /* Generic.Deleted */
.gd .x { color: #000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.ge { font-style: italic } /* Generic.Emph */
.gr { color: #a00 } /* Generic.Error */
.gh { color: #999 } /* Generic.Heading */
.gi { color: #000; background-color: #ddffdd } /* Generic.Inserted */
.gi .x { color: #000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.go { color: #888 } /* Generic.Output */
.gp { color: #555 } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #aaaaaa } /* Generic.Subheading */
.gt { color: #a00 } /* Generic.Traceback */
.kc { font-weight: bold } /* Keyword.Constant */
.kd { font-weight: bold } /* Keyword.Declaration */
.kp { font-weight: bold } /* Keyword.Pseudo */
.kr { font-weight: bold } /* Keyword.Reserved */
.kt { color: #445588; font-weight: bold } /* Keyword.Type */
.m { color: #099 } /* Literal.Number */
.s { color: #d14 } /* Literal.String */
.na { color: #008080 } /* Name.Attribute */
.nb { color: #0086B3 } /* Name.Builtin */
.nc { color: #445588; font-weight: bold } /* Name.Class */
.no { color: #008080 } /* Name.Constant */
.ni { color: #800080 } /* Name.Entity */
.ne { color: #900; font-weight: bold } /* Name.Exception */
.nf { color: #900; font-weight: bold } /* Name.Function */
.nn { color: #555 } /* Name.Namespace */
.nt { color: #000080 } /* Name.Tag */
.nv { color: #008080 } /* Name.Variable */
.ow { font-weight: bold } /* Operator.Word */
.w { color: #bbb } /* Text.Whitespace */
.mf { color: #099 } /* Literal.Number.Float */
.mh { color: #099 } /* Literal.Number.Hex */
.mi { color: #099 } /* Literal.Number.Integer */
.mo { color: #099 } /* Literal.Number.Oct */
.sb { color: #d14 } /* Literal.String.Backtick */
.sc { color: #d14 } /* Literal.String.Char */
.sd { color: #d14 } /* Literal.String.Doc */
.s2 { color: #d14 } /* Literal.String.Double */
.se { color: #d14 } /* Literal.String.Escape */
.sh { color: #d14 } /* Literal.String.Heredoc */
.si { color: #d14 } /* Literal.String.Interpol */
.sx { color: #d14 } /* Literal.String.Other */
.sr { color: #009926 } /* Literal.String.Regex */
.s1 { color: #d14 } /* Literal.String.Single */
.ss { color: #990073 } /* Literal.String.Symbol */
.bp { color: #999 } /* Name.Builtin.Pseudo */
.vc { color: #008080 } /* Name.Variable.Class */
.vg { color: #008080 } /* Name.Variable.Global */
.vi { color: #008080 } /* Name.Variable.Instance */
.il { color: #099 } /* Literal.Number.Integer.Long */



html {
	background-color:#f9f9f9;		
}

body {
	margin:50px auto; 
	width:982px;
	color:#333;
	font:13px sans-serif;
} 
 
#fork {
	position: absolute; 
	top: 0; 
	right: 0;	 
} 

#content, #hero, .highlight {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;		
}

#content, #hero {
	-moz-box-shadow: 0 0 5px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.2);
}


/*{{{ hero */

#hero {
	background-color:#000;
	padding:15px 0;
}

#hero {
	text-align:center;
	font-family:arial,sans-serif;
}

#hero h1 {
	color:#A3A3A3;
	font-size:190px;
	margin:0;
	line-height:170px;
	letter-spacing:-5px;
	text-shadow:0 0 55px #BC1C31;
}

#hero h1 em {
	color:#EAEAEA;
	font-style:normal;
	margin-left:15px;
}

#hero h2 {
	font-size:48px;
	margin:0;
	text-transform:uppercase;
	letter-spacing:-2px;
	line-height:40px;
	color:#808080;
}

code, #api h3 {
	font-family:"andale mono", "courier new", monospace;
	color:#18617E !important;
}

#hero {
	color:#fff;
}

#hero strong {
	color:#fff;
}

#hero p {
	color:#777;
	font-size:14px;
	margin:5px 0;
}
/*}}}*/

nav {
	margin:5px 0;	
	text-align:center;	
}

nav a {
	color:#777;
	font-size:11px;
	margin:0 5px;
}

#content {
	background-color:#fff;	
}
 
#content h1 {
	float:left;
	width:180px;
	font-weight:normal;
	margin:5px 0 0 25px;
	font-size:24px;	
	color:#777;
}

section {
	float:left;
	width:720px;
	clear:right;
	margin:5px 0 50px 0;	
}

#content h2 {
	font-size:16px;
	margin:35px 0 -5px 0;
}

#content h3 {
	font-size:13px;
	margin:15px 0 -5px 0;
	color:#666;	
}

#content section :first-child { 
	margin-top:0;
}  

.highlight {
	background-color:#f9f9f9;
	border:1px dotted #ddd;
	padding:10px;
	.rounded;
}

a {
	color:#445588;
}

a:hover {
	text-decoration:underline;		
}

li code, li a {
	float:left;
	width:100px;	
}

